---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 10
getTagsFromRecentPosts: 5
---

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest Post{% if latestPostsCount != 1 %}s{% endif %}
</h1>
{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set recentPosts = collections.posts | head(-1 * getTagsFromRecentPosts) %}
{% set recentTags = recentPosts | getAllTags | filterTagList | alphabetize %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}
{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
  <p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %}
    can be found in
    <a href="/blog/">the archive</a>.</p>
{% endif %}
{# List tags from getTagsFromRecentPosts #}
<h1>Latest Tags</h1>
<ul class="homepage-tags">
  {% for tag in recentTags %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li>
      <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
    </li>
  {% endfor %}
</ul>
{# Link to more tags #}
<p>
  <a href="/tags/">See all tags</a>
</p>
