---
layout: layouts/base.njk
---

{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
  <p>👋 Thanks for visiting! I'm a software engineer looking to join a rad team.</p>
  <p>Hit me up on
    <a href="https://www.linkedin.com/in/ethanjstark/" target="_blank">LinkedIn</a>
    or grab my
    <a href="/pdf/Ethan-Stark-Resume.pdf" target="_blank">PDF resume</a>
    to learn more!</p>
</div>
<a class="hidden" rel="me" href="https://hachyderm.io/@ethanjstark">Mastodon</a>
{{ content | safe }}
